.button-container{
  display: flex;
  justify-content: center;
  margin-top: 20px; ;
}

.TodoButton{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0px 5px 10px #0f1c3071;
  font-weight: bolder;
  font-size: 30px;
  background-color: #0f1c30;
  border: none;
  color: #c0d0ef;
  cursor: pointer;
}