/* colores
  #f8a89b,
  #fc8d7c
  ffe8d7c9
  fc8d7cce
  f97482
  FFBE9120
 */


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
  font-family: 'Ubuntu', sans-serif;
}
li{
  list-style: none;
}
body{
  color: #4a4a4a;
}

/* #root{
  
  width: 360px;
  height: auto;
  margin: 50px auto;
  padding: 20px 25px;
  border-radius: 30px;
  box-shadow:5px 5px 10px #0f1c30 ;
  background-color: rgba(255, 255, 255, 0.342);
} */