.searchContainer{
  display: flex;
  justify-content: center;
}
.searchBox{
  width: 90%;
  height: 30px;
  color: #4a4a4a;
  outline-color: #fc8d7cce;
  border: none;
  background-color: #ffbf9171;
  padding: 20px;
  margin-bottom:10px ;
  border-radius: 20px;
  font-family: 'Ubuntu';
}
::placeholder{
  color: rgba(128, 128, 128, 0.437);
}