.todoItem{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-size: 1.6rem;
}

.TodoItem-p--complete {
  text-decoration: line-through;
  color: #c2c6ce;
}
.Icon {
  cursor: pointer;
  font-weight: bolder;
}
.Icon-check--active {
  color: #c2c6ce;
}
.Icon-delete:hover {
  color: #f5563ece;
}
.Icon-active:hover {
  color: #fc8d7cce;
}